.container {
	width: 100%;
	height: 600px;
	background: url(bg.png) no-repeat;
	background-position: bottom;
	position: relative;
	border: 1px solid black;
}

.qz {
	width: 105px;
	height: 166px;
	background: url(qz.png) no-repeat;
	background-size: cover;
	position: absolute;
}

.qz1 {
	top: 400px;
	left: 30%;
}

.qz2 {
	top: 380px;
	left: 80%;
}

.qz {
	-webkit-animation: rotate .3s linear .15s 1 normal forwards;
	   -moz-animation: rotate .3s linear .15s 1 normal forwards;
	    -ms-animation: rotate .3s linear .15s 1 normal forwards;
	     -o-animation: rotate .3s linear .15s 1 normal forwards;
	        animation: rotate .3s linear .15s 1 normal forwards;
	transform-origin: 15px 166px;
}

@keyframes rotate {
	0% {
		transform: rotate(-90deg);
	}
	
	80% {
		transform: rotate(10deg);
	}

	90% {
		transform: rotate(-5deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

@-webkit-keyframes rotate {
	0% {
		transform: rotate(-90deg);
	}
	
	80% {
		transform: rotate(10deg);
	}

	90% {
		transform: rotate(-5deg);
	}

	100% {
		transform: rotate(0deg);
	}
}