body, div, ul, h2, h3, li {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
}

.container ul {
	list-style: none;
	margin-top: 120px;
}

.container ul li {
	width: 45%;
	height: 100px;
	color: rgb(233, 117, 8);
}

.container ul .li_left {
	text-align: right;
}

.container ul .li_right {
	text-align: left;
	margin-left: 55%;
}

/* 动画设置 */
.animated01 {
	-webkit-animation-duration: .5s;
	   -moz-animation-duration: .5s;
	    -ms-animation-duration: .5s;
	     -o-animation-duration: .5s;
	        animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	    -ms-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

.animated02 {
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	    -ms-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	    -ms-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

.animated03 {
	-webkit-animation-duration: 1.5s;
	   -moz-animation-duration: 1.5s;
	    -ms-animation-duration: 1.5s;
	     -o-animation-duration: 1.5s;
	        animation-duration: 1.5s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	    -ms-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

.animated04 {
	-webkit-animation-duration: 2s;
	   -moz-animation-duration: 2s;
	    -ms-animation-duration: 2s;
	     -o-animation-duration: 2s;
	        animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	    -ms-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	   -moz-animation-name: fadeInUp;
	    -ms-animation-name: fadeInUp;
	     -o-animation-name: fadeInUp;
	        animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		   -moz-transform: translate3d(0, 100%, 0);
		    -ms-transform: translate3d(0, 100%, 0);
		     -o-transform: translate3d(0, 100%, 0);
		        transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		   -moz-transform: none;
		    -ms-transform: none;
		     -o-transform: none;
		        transform: none;
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		   -moz-transform: translate3d(0, 100%, 0);
		    -ms-transform: translate3d(0, 100%, 0);
		     -o-transform: translate3d(0, 100%, 0);
		        transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		   -moz-transform: none;
		    -ms-transform: none;
		     -o-transform: none;
		        transform: none;
	}
}